* {
  font-family: system-ui, sans-serif; /*set default font to system font or sans-serif*/
}
iframe {
  width: 95vw; /*set width of iframe to 95%*/
  height: 100vh; /*set height of iframe to 100%*/
  margin: 0; /*set margin to 0*/
  padding: 0; /*set padding to 0*/
  border: none; /*no borders on iframe*/
}

h1,
h2 {
  color: #404040; /*set heading color to dark gray*/
}
